<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_OSD>
            <version>1.0.0</version>
        </Meanbee_OSD>
    </modules>
    <global>
        <blocks>
            <meanbee_osd>
                <class>Meanbee_OSD_Block</class>
            </meanbee_osd>
            <page>
                <rewrite>
                    <html_breadcrumbs>Meanbee_OSD_Block_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <meanbee_osd>
                <class>Meanbee_OSD_Helper</class>
            </meanbee_osd>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <meanbee_osd>
                    <file>meanbee/osd.xml</file>
                </meanbee_osd>
            </updates>
        </layout>
    </frontend>
    <default>
        <meanbee_osd>
            <general>
                <enabled>0</enabled>
                <breadcrumbs_enabled>1</breadcrumbs_enabled>
            </general>
        </meanbee_osd>
    </default>
</config>
